<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Orta Therox</string>
	<key>Builder Version</key>
	<string>11602.4.2</string>
	<key>CFBundleDisplayName</key>
	<string>Arena for Safari</string>
	<key>CFBundleIdentifier</key>
	<string>io.orta.safari-arena</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>arena.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>arena.note</string>
				<key>Identifier</key>
				<string>arena.item</string>
				<key>Image</key>
				<string>toolbar.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Note something</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>arena.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Adds a toolbar item for Are.na</string>
	<key>DeveloperIdentifier</key>
	<string>23KMWZ572J</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://github.com/orta/Arena-for-Safari</string>
</dict>
</plist>
